<section class=flexibleRow>
	<nav id=globalNav class="flexibleRow screenLeftSide" ng-include src="'../common/top-navigation.html'"></nav>
	<div id=localNav class="flexibleRow flexCentered growable">
		<div id="search" class="flexibleRow flexCentered">
			<input type="text" id="Search" name="Search" class="medium" title="Wildcards (*) supported" placeholder="Search..." ng-model="searching.query" ng-enter="search(searching.query, searching.typeId)"/>
			<select id="SearchType" name="SearchType" ng-model="searching.typeId" ng-options="o.id as o.name for o in searching.types"></select>
			<a href="" class="button" id="action_Search" title="Search" ng-click="search(searching.query, searching.typeId)"><i class="icon jam-Search"></i></a>
		</div>
		<div class="playlistMenu flexibleRow flexCentered">
			<div class="flexibleRow flexCentered" ng-show="selectedPlaylist !== null">
				<span>&nbsp;|&nbsp;</span>
				<label>Playlist</label>
				<a href="" class="button" id="action_NewPlaylist" title="New Playlist" ng-click="newPlaylist()"><i class="icon jam-Add"></i></a>
				<a href="" class="button" id="action_RemoveSongs" title="Remove selected song(s) from playlist" ng-click="songsRemoveSelected()"><i class="icon jam-Remove"></i></a>
				<a href="" class="button" id="action_SavePlaylist" title="Save Playlist" ng-click="savePlaylist()"><i class="icon jam-Save"></i></a>
				<a href="" class="button" id="action_DeletePlaylist" title="Delete Selected Playlist" ng-click="deletePlaylist()"><i class="icon jam-Trash"></i></a>
			</div>
			<div id="submenu_AddToPlaylist" class="submenu shadow" style="display: none;">
				<a href="" ng-repeat="o in playlistMenu" ng-click="addToPlaylist(o.id)">{{o.name}}</a>
			</div>
		</div>
	</div>
</section>
<section id=frame class="flexibleColumn growable minsizable">
	<section id=browsingSection class="flexibleRow growable minsizable">
		<aside id=leftSide class="flexibleColumn smcolumn noselect screenLeftSide" tabindex="0">
			<div class=subTabLevel>
				<ul class="tablist flexibleRow flexCentered">
					<li id=indexTabBtn class="" ng-click="toggleIndex()"><a href="">Artists</a></li>
					<li id=playlistTabBtn class="" ng-click="togglePlaylist()"><a href="">Playlists</a></li>
					<li id=podcastTabBtn class="" ng-click="togglePodcast()"><a href="">Podcasts</a></li>
					<li class="growable"></li>
					<li id="action_RefreshArtists" class="icon icon-btn jam-Refresh" ng-click="refreshArtists()" title="Refresh List"></li>
					<li id="action_RescanLibrary" class="icon icon-btn jam-Reload" ng-click="rescanLibrary()" title="Rescan Library"></li>
					<li class="adaptivelyShown icon icon-btn jam-Right" ng-click="navigateRight()"></li>
				</ul>
			</div>
			<div id="IndexContainer" class="flexibleColumn scrollable" ng-show="showIndex">
				<div class="flexibleRow sizable centeredAligned">
					<select id="MusicFolders" class="folders" style="display: none" ng-model="SelectedMusicFolder" ng-options="o.name for o in MusicFolders track by o.id">
						<option value="">All Folders</option>
					</select>
					<div id="AZIndex" ng-show="!settings.HideAZ" class="subactionsfixed">
						<a href="" ng-click="toggleAZ()" stop-event="click">A-Z</a>
					</div>
				</div>
				<ul id="AutoAlbumContainer" class="simplelist mainlist noselect">
					<li class="index" id="auto">Auto Albums</li>
					<li
						class="item flexibleRow"
						ng-repeat="(id, album) in autoAlbums"
						ng-click="getAlbumListBy(id)"
						ng-class="{'selected': selectedAutoAlbum == id }"
					>
						<span>{{album.name}}</span>
						<div class=growable></div>
						<div>
							<a
								href=""
								class="nextprev"
								title="Previous"
								ng-click="getAlbumListBy(id, 'prev')"
								stop-event="click"
							>&lsaquo;</a>
							<a
								href=""
								class="nextprev"
								title="Next"
								ng-click="getAlbumListBy(id, 'next')"
								stop-event="click"
							>&rsaquo;</a>
						</div>
					</li>
				</ul>
				<!-- Shortcut -->
				<ul class="simplelist mainlist noselect" ng-show="shortcut.length">
					<li class="index" title="Scroll to Top" data-bind="click: $root.scrollToTop"><a>Shortcuts</a></li>
					<ul class="simplelist mainlist noselect" ng-repeat="o in shortcut">
						<li class="item" id="{{o.id}}" ng-click="getDirectory('display', o.id, o.name, 'root')" ng-class="{'selected': selectedArtist == o.id}"><span ng-bind-html="o.name"></span></li>
					</ul>
				</ul>
				<!-- Artist -->
				<ul class="simplelist mainlist noselect" ng-repeat="o in index">
					<li class="index" title="Scroll to Top" id="{{o.name}}" ng-click="scrollToTop()"><a>{{o.name}}</a></li>
					<ul class="simplelist mainlist noselect">
						<li class="item" id="{{a.id}}" ng-repeat="a in o.artist" ng-class="{'selected': selectedArtist == a.id}" ng-click="getDirectory('display', a.id, a.name, 'root')"><a ng-href="" ng-bind-html="a.name"></a></li>
					</ul>
				</ul>
			</div>
			<!-- Playlist -->
			<div id="PlaylistContainer" class="flexibleColumn scrollable" ng-show="showPlaylist">
				<ul class="simplelist mainlist noselect">
					<li class="index" id="auto">Auto Playlists</li>
					<li class="item flexibleRow flexCentered" ng-click="getRandomStarredSongs('display')" ng-class="{'selected': selectedAutoPlaylist == 'starred'}">
						<div class="flexibleRow actions">
							<a class="icon icon-btn jam-Add" href="" ng-click="getRandomStarredSongs('add')" title="Add To Play Queue" stop-event="click"></a>
							<a class="icon icon-btn jam-Play" href="" ng-click="getRandomStarredSongs('play')" title="Play" stop-event="click"></a>
						</div>
						<div class="title">Starred</div>
					</li>
					<li class="item flexibleRow flexCentered" ng-click="getRandomSongs('display')" ng-class="{'selected': selectedAutoPlaylist == 'random'}">
						<div class="flexibleRow actions">
							<a class="icon icon-btn jam-Add" href="" title="Add To Play Queue" ng-click="getRandomSongs('add')" stop-event="click"></a>
							<a class="icon icon-btn jam-Play" href="" title="Play" ng-click="getRandomSongs('play')" stop-event="click"></a>
						</div>
						<div class="title">Random</div>
					</li>
					<li class="index" id="auto">Genre Playlists</li>
					<select
						id="Genres"
						name="Genres"
						ng-model="selectedGenre"
						ng-options="o for o in Genres"
					>
						<option value="">[Select Genre]</option>
					</select>
					<li
						class="item flexibleRow flexCentered"
						ng-repeat="genrePlaylist in genrePlaylists track by $index"
						ng-click="getRandomSongs('display', genrePlaylist)"
						ng-class="{'selected': selectedAutoPlaylist === genrePlaylist}"
					>
						<div class="flexibleRow actions">
							<a
								class="icon icon-btn jam-Add"
								href=""
								title="Add To Play Queue"
								ng-click="getRandomSongs('add', genrePlaylist)"
								stop-event="click"
							></a>
							<a
								class="icon icon-btn jam-Play"
								href=""
								title="Play"
								ng-click="getRandomSongs('play', genrePlaylist)"
								stop-event="click"
							></a>
						</div>
						<span class="title">
							{{ genrePlaylist }}
						</span>
						<div class=growable></div>
						<a
							title="Remove this auto-playlist"
							class="icon icon-btn jam-Trash"
							ng-click="deleteGenrePlaylist(genrePlaylist)"
							stop-event="click"></a>
					</li>
				</ul>
				<ul class="simplelist mainlist noselect">
					<li class="index" id="folder">Folder Playlists</li>
					<li class="flexibleRow flexCentered item" ng-repeat="o in MusicFolders | musicfolder" ng-click=" getRandomSongs('display', '' , o.id)" ng-class="{'selected': o.id == selectedAutoPlaylist}">
						<div class="flexibleRow actions">
							<a class="icon icon-btn jam-Add" href="" title="Add To Play Queue" ng-click="getRandomSongs('add', '', o.id)" stop-event="click"></a>
							<a class="icon icon-btn jam-Play" href="" title="Play" ng-click="getRandomSongs('play', '', o.id)" stop-event="click"></a>
						</div>
						<div class="title">{{o.name}}</div>
					</li>
				</ul>
				<ul class="simplelist mainlist noselect">
					<li class="index" id="auto">My Playlists</li>
					<li class="flexibleRow item" ng-repeat="o in playlists" ng-click="getPlaylist('display', o.id)" ng-class="{'selected': o.id == selectedPlaylist}">
						<div class="flexibleRow actions">
							<a class="icon jam-Add" href="" title="Add To Play Queue" ng-click="getPlaylist('add', o.id)" stop-event="click"></a>
							<a class="icon jam-Play" href="" title="Play" ng-click="getPlaylist('play', o.id)" stop-event="click"></a>
						</div>
						<div class="title" title="{{'Songs: ' + o.songCount + ', Public: ' + o.public}}">{{o.name}}</div>
					</li>
				</ul>
				<ul class="simplelist mainlist noselect">
					<li class="index" id="auto">Shared Playlists</li>
					<li class="flexibleRow flexCentered item" ng-repeat="o in playlistsPublic" ng-click="getPlaylist('display', o.id)" ng-class="{'selected': o.id == selectedPlaylist}">
						<div class="flexibleRow actions">
							<a class="icon icon-btn jam-Add" href="" title="Add To Play Queue" ng-click="getPlaylist('add', o.id)" stop-event="click"></a>
							<a class="icon icon-btn jam-Play" href="" title="Play" ng-click="getPlaylist('play', o.id)" stop-event="click"></a>
						</div>
						<div class="title" title="{{'Owner: ' + o.owner + ' Songs: ' + o.songCount}}">{{o.name}}</div>
					</li>
				</ul>
			</div>
			<!-- Podcasts -->
			<div id="PodcastContainer" class="flexibleColumn scrollable" ng-show="showPodcast">
				<ul class="simplelist mainlist noselect">
					<li class="index" id="auto">Podcasts</li>
					<li class="flexibleRow flexCentered item" ng-repeat="o in podcasts" ng-click="getPodcast('display', o.id)" ng-class="{ 'selected': o.id == selectedPodcast }">
						<div class="flexibleRow actions">
							<a class="icon icon-btn jam-Add" href="" title="Add To Play Queue" ng-click="getPodcast('add', o.id)" stop-event="click"></a>
							<a class="icon icon-btn jam-Play" href="" title="Play" ng-click="getPodcast('play', o.id)" stop-event="click"></a>
						</div>
						<div class="title" title="{{o.description}}">{{o.title}}</div>
					</li>
				</ul>
			</div>
		</aside>
		
		<!-- Start: Library Tab -->
		<section id=tab1 class=sizable> <!--/// TODO : verify use of tab1, seems useless, could remove one layer with tabLibrary-->
			<div id=tabLibrary class="scrollable flexibleColumn minsizable">
				<div class="minsizable sizable flexibleRow sideStretchable">
					<div class="mainContent minsizable sizable flexibleColumn">
						<div class="subTabLevel flexibleRow flexCentered">
							<div class="adaptivelyShown icon icon-btn jam-Left" ng-click="navigateLeft()"></div>
							<ul class="sorterList adaptivelyHidden tablist flexibleRow flexCentered">
								<li id="sort-btn-{{$index}}" ng-repeat="o in AlbumSort" ng-class="{'active': $first}"><a ng-click="sortAlbums('sort-btn-', $index, o.id)">{{o.name}}</a></li>
							</ul>
							<select id="SelectedAlbumSort" class="adaptivelyShown sorterSelect" ng-model="SelectedAlbumSort.id" ng-show="AlbumSort.length" ng-options="o.id as o.name for o in AlbumSort"></select>
							<div class="flexibleRow flexCentered growable" ng-include src="'../common/sub-tab-level-navigation.html'"></div>
						</div>
						<div class="subTabLevel flexibleRow flexCentered">
							<jamstash-breadcrumbs>
						</div>
						
						<div class="sizable scrollable flexibleColumn">
							<div class="albumlist sizable flexibleColumn noselect" ng-class="{'albumgrid': settings.DefaultLibraryLayout.id == 'grid'}" ng-include src="'common/albums.html'"></div>
							<div class="flexibleColumn sizable">
								<table class=songlist ng-if="song.length > 0" ng-include src="'common/songs.html'" sortable2></table>
							</div>
							<div id="submenu_AZIndex" class="submenu shadow" style="display: none;">
								<ul>
									<li ng-repeat="o in index"><a href="" ng-click="scrollToIndexName(o.name)">{{o.name}}</a></li>
									<li><a href="" class="close" ng-click="scrollToIndexName('AZIndex')">[Top]</a></li>
									<li><a href="" class="close" ng-click="toggleAZ()">[Close]</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="SideBar" class="minsizable scrollable flexibleColumn" ng-include src="'queue/queue.html'" ng-controller="QueueController as vm"></div>
				</div>
			</div>
		</section>
		<!-- End: Library Tab -->
	</section>
</section>
