/**
 * Theme
 **/
 *{	 
	color: white;
	
	/* Mainly used for background coloring */
	--bg-main-color : #202225;
	--bg-alt-color : #40444b;
	--bg-intermediate-color: #292b2f;
	--bg-intermediate-color-2: #2f3136;
	--selection : #A36241; /*#B89685;*/
	
	/* Mainly use for text */
	--title-color : #b2b2b0;
	--title-alt-color : #A7A7A7;
	--txt-alt-color: #F8A074; /*#EA824E;*/
}

.audiojs .progress{
	background-color: var(--selection);
	box-shadow: 0 -1px 5px var(--selection);
}

input, select{
	color: black;
}

#nav .icon-tab.active, .selected .icon, .selected .icon-btn, #player .jam-Cloud.selected, #player .jam-Loop, #player .jam-Loop-one{
	color: white;
}

#settings a.button, #settings label.button{
	color: white;
}