<tr class="song" ng-repeat="o in song" ng-click="toggleSelection(o)" ng-dblclick="playFrom($index)" ng-class="{'selected': o.selected, 'playing': o.playing}">
    <td class=actions>
		<div class="flexibleRow flexCentered">
			<a class="icon icon-btn jam-Add add" href="" title="Add To Queue" ng-click="addSongToQueue(o)" stop-event="click,dblclick"></a>
			<a class="icon icon-btn jam-Play play" href="" title="Play this song" ng-click="playSong(o)" stop-event="click,dblclick"></a>
			<a class="icon icon-btn jam-Star" href="" title="Star" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="toggleStar(o)" stop-event="click,dblclick"></a>
		</div>
    </td>
    <td class="track" ng-bind-html="o.track"></td>
    <td class="title" title="{{o.description}}" ng-bind-html="o.name"></td>
    <td class="artist" ng-bind-html="o.artist"></td>
    <td class="album flexibleRow flexCentered" ng-show="o.album && itemType !== 'archive'">
        <a class="flexibleRow flexCentered" ng-href="#/library/0/{{o.albumId}}" title="{{o.album}}" stop-event="click">
			<img ng-src="{{o.coverartthumb}}">
			<span class="albumblock" ng-bind-html="o.album"></span>
        </a>
    </td>
    <td><a ng-show="o.album && itemType === 'archive'" ng-href="#/archive/{{o.artist}}/{{o.parentid}}" class="albumblock" stop-event="click" ng-bind-html="o.album" title="{{o.album}}"></a></td>
    <td class="albumblock" ng-show="!o.album">&nbsp;</td>
	<td><a class="icon jam-Check checker" href="" title="Selected"></a></td>
    <td class="time">{{o.time}}</td>
</tr>
