<div class=growable></div>
<a href="" class="flexibleRow flexCentered button" id="action_AddToQueue" title="Add To Queue" ng-click="addSelectedSongsToQueue()"><i class="icon jam-Forward"></i><span> Queue</span></a>
<a href="" class="flexibleRow flexCentered button" id="action_AddToPlaylist" title="Add Selected To Playlist" ng-click="loadPlaylistsForMenu()"><i class="icon jam-Forward"></i><span> Playlist</span></a>
<i class="icon icon-btn jam-Play" ng-click="playAll()"></i>
<i class="icon icon-btn jam-Check" ng-click="selectAll()"></i>
<i class="icon icon-btn jam-Cross" ng-click="selectNone()"></i>