/* Player Style */
#player{
	background: var(--bg-alt-color);
    margin: 0;
}

#player .playeractions{
    margin: 0 0 0 5px;
}
#player .playeractions *{
	cursor: pointer;
}

#player .playeractions .icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 25px;
	font-weight: 700;
}

#audio_wrapper0{
	visibility: hidden;
}

.audiojs{
    font-family: inherit;
    font-size: 10px;
	margin: 0;
	height: 100%;
}
.audiojs .play-pause{
    display: none;
}
.audiojs .scrubber{
    cursor: pointer;
	background: var(--bg-intermediate-color-2);
}

.audiojs:hover .scrubber .progress{
	height: 30px;
}

.audiojs .progress{
	transition: height var(--transition-duration);
    height: 8px;
    width: 0px;
	background-color: var(--txt-alt-color);
	box-shadow: 0px -1px 5px grey;
}

.audiojs .time{
    line-height: 17px;
    padding: 0 5px 0 0;
    font-size: 11px;
}
.audiojs .time em{
    padding: 0px 2px 0px 0px;
    font-style: normal;
}

#player .playeractions #PreviousTrack,
#player .playeractions #NextTrack{
	font-weight: 100;
}

#songdetails_controls{
	min-width: 60px;
	max-width: 60px;
}

#songdetails{
    margin: 5px;
    padding: 0;
    visibility: hidden;
    text-align: left;
	width: 290px;
}
#songdetails ul{
	list-style-type: none;
	margin: 4px 0 2px 0;
	padding: 0;
	max-width: 172px;
	overflow: hidden;
}
#songdetails ul li{
    display: block;
    height: 14px;
	padding-right: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#songdetails li.song{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 2px 0;
}
#songdetails li.artist{
    font-size: 11px;
    line-height: 14px;
}
#songdetails li.album{
    font-size: 11px;
    line-height: 14px;
}
#songdetails li span.label{
    color: #B6B6B6;
    display: inline;
    margin: 0 4px 0 0;
    text-align: right;
    width: 37px;
}