<div class="playeractions flexibleRow flexCentered noselect">
	<a class="hover icon jam-Previous" id="PreviousTrack" title="Previous Track" ng-click="previousTrack()"></a>
	<a class="hover icon jam-Play-Circle PlayTrack" title="Play/Pause" ng-click="play()"></a>
	<a class="hover icon jam-Pause-Circle PauseTrack" title="Play/Pause" style="display: none;" ng-click="pause()"></a>
	<a class="hover icon jam-Next" id="NextTrack" title="Next Track" ng-click="nextTrack()"></a>
</div>
<div id="songdetails" class=flexibleRow>
	<div id="coverart">
		<a ng-click="fancyboxOpenImage(getPlayingSong().coverartfull)">
			<img ng-src="{{getPlayingSong().coverartthumb}}" src="images/albumdefault_60.jpg" height="45" width="45" />
		</a>
	</div>
	<ul class="growable flexibleColumn">
		<li class="song" id="{{getPlayingSong().id}}" ng-bind-html="getPlayingSong().name" title="{{getPlayingSong().specs}}"></li>
		<li class="artist" ng-bind-html="getPlayingSong().artist"></li>
		<li class="album" ng-bind-html="getPlayingSong().album"></li>
	</ul>
	<div id="songdetails_controls" class="flexibleRow wrappable">
		<a href="" class="icon icon-btn jam-Cloud jukebox" title="Jukebox Mode [Beta]" ng-click="toggleSetting('Jukebox')" ng-class="{'selected': settings.Jukebox }"></a>
		<jamstash-repeat selected-value="playerSettings.repeat" values="playerSettings.repeatValues"></jamstash-repeat>
		<!-- <a href="" id="action_SaveProgress" class="icon-btn lock" title="Save Track Position: On" ng-show="settings.SaveTrackPosition"></a> -->
		<a title="Favorite" class="icon icon-btn jam-Star" href="" ng-class="{'favorite': getPlayingSong().starred, 'rate': !getPlayingSong().starred}" ng-click="toggleStar(getPlayingSong())" stop-event="click"></a>
		<a href="" id="action_Mute" class="icon icon-btn jam-Speaker" title="Mute"></a>
		<a href="" id="action_UnMute" class="icon icon-btn jam-Speaker-Muted" title="Unmute" style="display: none;"></a>
	</div>
</div>
<div id="playdeck_1" jplayer></div>
<div id="playdeck_2"></div>
<div id="submenu_CurrentPlaylist" class="submenu shadow" style="display: none;">
	<table id="CurrentPlaylistPreviewContainer" class="simplelist songlist">
		<thead></thead>
		<tbody></tbody>
	</table>
</div>
<div class="audiojs growable" id="audio_wrapper0">
	<div class="scrubber"><div class="progress"></div><div class="loaded"></div></div>
	<div class="time"><em id="played">00:00</em>/<strong id="duration">00:00</strong></div>
	<div class="error-message"></div>
</div>
<div id="preview"></div>