<section class=flexibleRow>
	<nav id=globalNav class="flexibleRow screenLeftSide" ng-include src="'../common/top-navigation.html'"></nav>
	<div id=localNav class="flexibleRow growable flexCentered"></div>
</section>
<section class="flexibleColumn minsizable growable mainContent scrollable">
	<div id="settings" class="flexibleRow growable">
		<div class="subsection flexibleColumn">
			<fieldset class=flexibleColumn>
				<legend class="title">Login</legend>
				<input type="text" id="Username" name="Username" placeholder=Username ng-model="settings.Username" />
				<input type="password" id="Password" name="Password" placeholder=Password ng-model="settings.Password" />
				<input type="text" id="Server" name="Server" placeholder=Server title="Subsonic Server URL Ex: http://host:port" ng-model="settings.Server" />
			</fieldset>
			<fieldset class=flexibleColumn>
				<legend class="title">Options</legend>
				<label for="Theme">Theme</label><br />
				<select id="Theme" name="Theme" ng-model="settings.Theme" ng-options="o for o in Themes"></select>
				<label for="AutoAlbumSize">Auto Album Size</label>
				<input type="text" id="AutoAlbumSize" name="AutoAlbumSize" title="Number of Albums to Get on the Music Library tab" ng-model="settings.AutoAlbumSize" />
				<label for="AutoPlaylistSize">Auto Playlist Size</label>
				<input type="text" id="AutoPlaylistSize" name="AutoPlaylistSize" title="Number of Songs to Get on the Playlist tab" ng-model="settings.AutoPlaylistSize" />
				<label for="ApplicationName">Application Name</label>
				<input type="text" id="ApplicationName" name="ApplicationName" title="Custom Player Name" ng-model="settings.ApplicationName" />
			</fieldset>
			<fieldset class=flexibleColumn>
				<legend class="title">Information</legend>
				<label for="SubsonicVersion">Subsonic API: <strong id="SubsonicVersion">{{settings.ApiVersion}}</strong></label>
				<label for="SMStats">Audio State: <span id="SMStats"></span></label>
			</fieldset>
			<div class="submit flexibleRow">
				<a href="" class="growable button" ng-click="reset()" title="Reset Settings (Except Server)">Reset</a>
				<a href="" class="growable button" ng-click="save()" title="Save Settings">Save</a>
			</div>
		</div>
		<div class="subsection flexibleColumn">
			<fieldset class=flexibleColumn>
				<legend class="aligncenter">General</legend>
				<input type="checkbox" id="AutoPlay" name="AutoPlay" value="1" title="When the Queue has ended, load random songs" ng-model="settings.AutoPlay" />
				<label for="AutoPlay" class="button flexibleRow flexCentered stretchable">Auto Play<i class="icon jam-Check"></i></label>
				<input type="checkbox" id="HideAZ" name="HideAZ" value="1" title="Hide A-Z Artist Picker (Tablet/Touch friendly feature)" ng-model="settings.HideAZ" />
				<label for="HideAZ" class="button flexibleRow flexCentered stretchable">Hide A-Z<i class="icon jam-Check"></i></label>
				<input type="checkbox" id="ScrollTitle" name="ScrollTitle" value="1" title="Scroll the Title Once" ng-model="settings.ScrollTitle" />
				<label for="ScrollTitle" class="button flexibleRow flexCentered stretchable">Scroll Title<i class="icon jam-Check"></i></label>
				<label for="DefaultLibraryLayout"  class="flexibleRow flexCentered growable">
					<span class=growable>Default Library Layout</span>
					<select id="DefaultLibraryLayout" name="DefaultLibraryLayout" class="" ng-model="settings.DefaultLibraryLayout.id" ng-options="o.id as o.name for o in Layouts" title="Library Layout"></select>
				</label>
				<label for="DefaultSearchType"  class="flexibleRow flexCentered growable">
					<span class=growable>Default Search Type</span>
					<select id="DefaultSearchType" name="DefaultSearchType" class="" ng-model="settings.DefaultSearchType" ng-options="o.id as o.name for o in SearchTypes" title="Subsonic Album Layout"></select>
				</label>
			</fieldset>
			<fieldset id="HTML5N" class=flexibleColumn>
				<legend>HTML5 Notifications</legend>
				<input type="checkbox" id="NotificationSong" name="NotificationSong" value="1" title="Enable Notifications When Tracks Change" ng-model="settings.NotificationSong" />
				<label for="NotificationSong" class="button flexibleRow flexCentered stretchable">Song Change<i class="icon jam-Check"></i></label>
				<input type="checkbox" id="NotificationNowPlaying" name="NotificationNowPlaying" value="1" title="Enable Notifications When Other Users Play Songs" ng-model="settings.NotificationNowPlaying" />
				<label for="NotificationNowPlaying" class="button flexibleRow flexCentered stretchable">Now Playing<i class="icon jam-Check"></i></label>
			</fieldset>
			<fieldset id="HTML5L" class=flexibleColumn>
				<legend>HTML5 Local Storage</legend>
				<input type="checkbox" id="SaveTrackPosition" name="SaveTrackPosition" value="1" title="Saves Play Queue & Track Position Periodically (Uses HTML5: localStorage)" ng-model="settings.SaveTrackPosition" />
				<label for="SaveTrackPosition" class="button flexibleRow flexCentered stretchable">Save Progress<i class="icon jam-Check"></i></label>
			</fieldset>
			<fieldset class=flexibleColumn>
				<legend class="aligncenter">Jukebox</legend>
				<input type="checkbox" id="Jukebox" name="Jukebox" value="1" title="Enable Jukebox Mode [Beta]" ng-model="settings.Jukebox" />
				<label for="Jukebox" class="button flexibleRow flexCentered stretchable">Enable<i class="icon jam-Check"></i></label>
			</fieldset>
			<fieldset class=flexibleColumn>
				<legend class="aligncenter">Advanced</legend>
				<input type="checkbox" id="Debug" name="Debug" value="1" title="Enable Debug Mode (Events will be logged to the Javascript Console)" ng-model="settings.Debug" />
				<label for="Debug" class="button flexibleRow flexCentered stretchable">Debug Mode<i class="icon jam-Check"></i></label>
				<input type="checkbox" id="EstimateLength" name="EstimateLength" value="1" title="Ask the server to estimate the filesize of transcoded media" ng-model="settings.EstimateLength" />
				<label for="EstimateLength" class="button flexibleRow flexCentered stretchable">Estimate content length<i class="icon jam-Check"></i></label>
				<input type="checkbox" id="ForceFlash" name="ForceFlash" value="1" title="Force Flash Plugin for Audio (Option doesn't work with Chrome App)" ng-model="settings.ForceFlash" />
				<label for="ForceFlash" class="button flexibleRow flexCentered stretchable">Force Flash<i class="icon jam-Check"></i></label>
				<label for="Timeout" class="flexibleRow flexCentered growable">
					<span class=growable>Timeout</span>
					<select id="Timeout" name="Timeout" class="" ng-model="settings.Timeout" ng-options="o.id as o.name for o in Timeouts" title="AJAX Request Timeout (Seconds)"></select>
				</label>
				<label for="Protocol" class="flexibleRow flexCentered growable">
					<span class=growable>Protocol</span>
					<select id="Protocol" name="Protocol" class="" ng-model="settings.Protocol" ng-options="o for o in Protocols" title="Enable Cross-Domain AJAX Requests (Use if hosted in a different domain than Subsonic)"></select>
				</label>
			</fieldset>
		</div>

		<div class="subsection flexibleColumn">
			<h3 class="title">Tips</h3>
			<ul class="preferences">
				<li>Click the Notification to quickly Skip the Song</li>
				<li>Click <i class="icon jam-Play"></i> on a song to play the rest of the album</li>
			</ul>
			<h3 class="title">Keyboard Shortcuts</h3>
			<ul class="preferences">
				<li><em>Esc</em> Hide Queue</li>
				<li><em>[a-z]</em> Use to Quickly Browse to an Artist</li>
				<li><em>Spacebar</em> Play/Pause</li>
				<li><em>&rarr;</em> Next Track</li>
				<li><em>&larr;</em> Previous Track</li>
				<li><em>-/_</em> Volume Down <em>=/+</em> Volume Up</li>
				<li><em>Media Keys</em> via <a href="https://chrome.google.com/webstore/detail/key-socket-media-keys/fphfgdknbpakeedbaenojjdcdoajihik" target="_blank">Key Socket Media Keys</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/media-keys" target="_blank">Media Keys</a> <a href="https://github.com/carlin-q-scott/browser-media-keys/pull/21" target="_blank">(see also)</a></li>
			</ul>
			<h3 class="title">Links</h3>
			<ul class="preferences">
				<li>Report Issues - <a href="https://github.com/tsquillario/Jamstash" target="_blank">https://github.com/tsquillario/Jamstash</a></li>
				<li>Jamstash Chrome App - <a href="https://chrome.google.com/webstore/detail/jccdpflnecheidefpofmlblgebobbloc" target="_blank">Chrome Web Store</a></li>
			</ul>
			<h3 class="title">Thanks</h3>
			<ul class="preferences">
				<li>Icons Design - <a href="https://github.com/Cherryblue">Cherryblue</a></li>
				<li>Icons Font assembler - <a href="https://nucleoapp.com/" target="_blank">Nucleo</a></li>
				<li>Audio Library - <a href="https://jplayer.org" target="_blank">Jplayer</a></li>
			</ul>
		</div>
		<div class="subsection flexibleColumn changelog">
			<h3 class="title">Change Log</h3>
			<ul id="ChangeLog" class="preferences">
				<li class="log" ng-repeat="o in changeLog"><span class="version">{{o.date + ' - ' + o.version}}</span>
					<span class="changes" ng-repeat="a in o.changes" ng-bind-html="a.text"></span>
				</li>
			</ul>
			<a href="" ng-click="changeLogShowMore()">Show More</a>
		</div>
	</div>
</section>