<section class=flexibleRow>
	<nav id=globalNav class="flexibleRow screenLeftSide growable" ng-include src="'../common/top-navigation.html'"></nav>
</section>
<section id=frame class="flexibleRow growable minsizable">
	<section id=browsingSection class="flexibleRow growable minsizable">
		<aside id=leftSide class="flexibleColumn screenLeftSide smcolumn noselect" tabindex="0">
			<!--<select class="" id="Collections" ng-disabled="!loadedCollection" ng-model="selectedCollection" title="Select Collection" ng-options="o for o in AllCollections"></select>-->
			<div class="subTabLevel flexibleRow flexCentered stretchable">
				<div class="flexibleRow flexCentered">
					<input type="text" id="Artists" name="Artists" class="mlg" title="Wildcards (*) supported" placeholder="Search..." ng-enter="getArtists()" />
					<a href="" class="button" title="Search" ng-click="getArtists()"><i class="icon jam-Search"></i></a>
				</div>
				<span class=growable></span>
				<a href="" title="Load Example Collections?" ng-click="setupDemoCollections()" style="margin-right: 10px;">?</a>
				<div class="adaptivelyShown icon icon-btn jam-Right" ng-click="navigateRight()"></div>
			</div>
			<ul class="simplelist mainlist noselect">
				<li class="item flexibleRow flexCentered" ng-repeat="o in SavedCollections" ng-click="getAlbums(o)" ng-class="{ 'selected': selectedArtist == o }">
					<span>{{o}}</span>
					<div class=growable></div>
					<div id="{{'ArtistInfo' + $index}}" class="infolink flexibleRow flexCentered">
						<a href="" class="icon icon-btn jam-Info archiveInfo" title="More Info..." ng-click="toggleSubmenu('#submenu_ArtistInfo' + $index, '#ArtistInfo' + $index, 'left', 90)" stop-event="click"></a>
						<a href="" class="icon icon-btn jam-Cross archiveRemove" title="Remove" ng-click="deleteSavedCollection($index)" stop-event="click"></a>
					</div>
					<div id="{{'submenu_ArtistInfo' + $index}}" class="submenu_ArtistInfo submenu shadow" style="display: none;">
						<a href="" ng-href="{{settings.Url + o}}" title="{{settings.Url + o}}" target="_blank" stop-event="click">PermaStash</a>
					</div>
				</li>
			</ul>
			<ul class="simplelist mainlist noselect">
				<li class="item" ng-repeat="o in AllArtists" ng-click="getAlbums(o)">
					<div class="infolink">
						<!-- @Cherryblue : didn't see it in action.. -->
						<a href="" class="hover" title="Save Collection" ng-click="addSavedCollection(o)" stop-event="click"> <img src="images/pin_gl_12x12.png" /> </a>
					</div>
					<span>{{o}}</span>
				</li>
			</ul>
		</aside>

		<!-- Start: Archive Tab -->
		<div class="tabcontent flexibleColumn growable">
			<div class="minsizable sizable scrollable flexibleRow sideStretchable">
				<div id="ArchiveContainer" class="mainContent flexibleColumn minsizable growable">
					<div class="actionlist flexibleColumn">
						<form class="subTabLevel flexibleRow sideStretchable">
							<div class="adaptivelyShown icon icon-btn jam-Left" ng-click="navigateLeft()"></div>
							<select ng-model="selectedArchiveAlbumSort" ng-options="o for o in ArchiveAlbumSort"></select>
							<select id="Years" ng-model="filter.Year" ng-options="o for o in Years">
								<option value="">[Year]</option>
							</select>
							<input type="text" id="Source" name="Source" class="sm" ng-model="filter.Source" placeholder="Source" title="Source" />
							<input type="text" id="Description" name="Description" class="m" ng-model="filter.Description" placeholder="Description" title="Description" />
							<a href="" class="button" ng-click="filterSave()"><i class="icon jam-Search"></i></a>&nbsp;
							<div class="flexibleRow growable flexCentered" ng-include src="'../common/sub-tab-level-navigation.html'"></div>
						</form>
						<div id="BreadCrumbs" class="subTabLevel flexibleRow flexCentered">
							<div class="breadcrumb" ng-repeat="o in BreadCrumbs | filter:{type:'artist'}"><a ng-click="getAlbums(o.name, filter)">{{o.name}}</a></div>
							<div class="breadcrumb" ng-repeat="o in BreadCrumbs | filter:{type:'album'}"><a ng-click="getSongs(o.id, '')">{{o.name}}</a></div>
						</div>
					</div>
					<div class="archive-albums flexibleColumn scrollable minsizable sizable sideStretchable noselect">
						<article class=flexibleColumn ng-repeat="o in album" ng-switch on="o.type" ng-class="{'selected': selectedAlbum == o.id}" ng-click="getSongs(o.id, '')">
							<div class="growable flexibleRow flexCentered">
								<div class="actions flexibleRow">
									<a class="icon icon-btn jam-Add add" href="" title="Add To Play Queue" ng-click="getSongs(o.id, 'add')" stop-event="click"></a>
									<a class="icon icon-btn jam-Play play" href="" title="Play" ng-click="getSongs(o.id, 'play')" stop-event="click"></a>
									<a class="icon icon-btn jam-Download download" href="" title="Download"></a>
									<a class="icon icon-btn jam-Star" href="" title="Favorite" ng-class="{'favorite': o.starred, 'rate': !o.starred}" ng-click="toggleStar(o)" stop-event="click"></a>
								</div>
								<div class="albumart"><img ng-src="{{o.coverart}}" src="images/albumdefault_50.jpg"></div>
								<div class="flexibleColumn growable info">
									<div class="title">{{o.name}}</div>
									<div class="artist"><a href="" id="{{o.parentid}}" ng-click="getAlbums(o.artist, o.id)" stop-event="click">{{o.artist}}</a></div>
								</div>
								<span class=growable></span>
								<div id="{{'AlbumInfo' + $index}}" class="infolink">
									<a href="" class="icon icon-btn jam-Info" title="More Info..." ng-click="toggleSubmenu('#submenu_AlbumInfo' + $index, '#AlbumInfo' + $index, 'left', 90)" stop-event="click"></a>
								</div>
							</div>
							<div id="{{'submenu_AlbumInfo' + $index}}" class="submenu_AlbumInfo submenu shadow" style="display: none;">
								<a href="" ng-href="{{o.url}}" title="{{o.url}}" target="_blank" stop-event="click">Source</a><br />
								<a href="" ng-href="{{settings.Url + o.artist + '/' + o.id}}" title="{{settings.Url + o.artist + '/' + o.id}}" target="_blank" stop-event="click">PermaStash</a>
							</div>
							<div class="description shadow" ng-bind-html="o.description"></div>
						</article>
						<table class="songlist songs noselect" ng-if="song.length > 0" ng-include src="'common/songs.html'"></table>
					</div>
				</div>
				<div id="SideBar" class="minsizable scrollable flexibleColumn" ng-include src="'queue/queue.html'" ng-controller="QueueController as vm"></div>
			</div>
		</div>
	</section>
</section>
