<div class="subTabLevel flexibleRow flexCentered">
	<div class=growable></div>
	<div class="header noselect">Queue</div>
	<div>
		<a
			class="icon icon-btn jam-Check"
			title="Select All"
			ng-click="vm.selectAll()"
		></a><!--
		--><a
			class="icon icon-btn jam-Remove"
			title="Remove Selected From Queue"
			ng-click="vm.removeSelectedSongsFromQueue()"
		></a><!--
		--><a
			class="icon icon-btn jam-Shuffle"
			title="Shuffle Queue"
			ng-click="vm.shuffleQueue()"
		></a><!--
		--><a
			class="icon icon-btn jam-Trash"
			title="Delete Queue"
			ng-click="vm.emptyQueue()"
		></a>
	</div>
</div>
<div id="SideQueue" class="scrollable songlist songs noselect growable" ui-sortable ng-model="vm.player.queue">
	<article
		ng-repeat="song in vm.player.queue track by $index"
		class="flexibleRow flexCentered song id{{song.id}}"
		ng-click="vm.toggleSelection(song)"
		ng-dblclick="vm.playSong(song)"
		ng-class="{'selected': song.selected, 'playing': vm.isPlayingSong(song)}"
	>
		<div class="actions flexibleRow">
			<a
				class="icon icon-btn jam-Remove remove"
				href=""
				title="Remove Song"
				ng-click="vm.removeSongFromQueue(song)"
				stop-event="click,dblclick"
			></a>
			<a
				href=""
				title="Star"
				class="icon icon-btn jam-Star"
				ng-class="{'favorite': song.starred, 'rate': ! song.starred}"
				ng-click="vm.toggleStar(song)"
				stop-event="click,dblclick"
			></a>
			<div class="icon jam-Play-Circle"></div>
		</div>
		<div class="title growable" title="{{ song.description }}" ng-bind-html="song.name"></div>
		<div class="icon jam-Check checker" href="" title="Selected"></div>
		<div class="time">{{ song.time }}</div>
	</article>
</div>
